body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

h1, h2, h3 {
    color: #2E2F42;
}

h1{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.111;
    color: #FFFFFF;
}

h2{
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3{
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 0.02em;
}

ul{
    list-style: none;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

button{
    background-color: #4D5AE5;
    color: #FFFFFF;
}

button:focus, button:hover{
    background-color: #4D5AE5;
    cursor: pointer;
}

.team{
    background-color: #F4F4FD;
}

.team > .title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.team-list-item{
    background-color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    text-align: center;
}

.team-list-heading{
    font-weight: 500;
    line-height: 1.2;


}

.team-list-paragraph{
    color: #434455;
    line-height: 1.5;
    font-size: 16px;
}

.hero{
    background-color: #2E2F42;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}

.studio{
    color: #2E2F42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.studio-footer{
    color: #f4f4fd;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.studio > .footer{
    color: #f4f4fd;
}

.nav-list-item-url{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;

}

.nav-list-item-url:hover,
.nav-list-item-url:active,
.nav-list-item-url:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.a-list-item-url{
    font-style: normal;
    color: #434455;
}

.a-list-item-url:hover,
.a-list-item-url:active,
.a-list-item-url:focus{
    color: #404bbf;
}

a{
    text-decoration: none;
}

.hero-title{
    line-height: 1.07;
    text-align: center;
}

.hero-button{
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;

}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;
}

.title{
    font-weight: 500;
    line-height: 1.2;

}

.approach-heading{
    font-weight: 500;
    line-height: 1.2;

}

.approach-paragraph{
    color: #434455
}

.footer{
    background-color: #2e2f42;

}

.footer-paragraph{
    color: #F4F4FD;

}

.footer > .studio{
    color: #F4F4FD;
}

.portfolio > .title{
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-heading{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.portfolio-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}