body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer{
    color: #F4F4FD;
    background-color: #2E2F42;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 100px;
    margin-top: 150px;
    font-weight: 200;
}
.paragraph-footer{  
    letter-spacing: 0.02em;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}
/* #region title*/
button{
    cursor: pointer;
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
button:hover,
button:focus{
    background: #404BBF;
}

.title{
    background: #2E2F42;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 80px;
}
/* #endregion title*/
/* #region header*/
header{
    color: #2E2F42;
    background-color: #E7E9FC;
    padding-top: 15px;
    display: flex;
    height: 72px;
    margin: 0;
    justify-content: center;
    flex: auto;
    border-bottom: 1px solid #999;
    font-weight: 500;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    letter-spacing: 3%;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase
}

.iris{
    color: #4D5AE5;
}
.address{
    font-style: normal;
    color: #434455;
    display: flex;
}
.adress-list{
    display: flex;
    gap: 50px;
}
#studio,#portfolio,#contacts,.email,.tel{
    color: #2E2F42;
}
#studio:hover,#studio:focus,#portfolio:hover,#portfolio:focus,#contacts:hover,#contacts:focus,.email:hover,.email:focus,.tel:hover,.tel:focus{
    color: #404BBF;
}
.studio{
    color: #2e2f42;
}
.title-button{
   width: 169px;
   height: 60px;
   font-size: 35%;
}

.header-nav, .nav-list{
    display: flex;
    gap: 50px;
}
/* #endregion header*/
/* #region features*/
.features{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list{
    display: flex;
    gap: 8px;
}

.paragraph-text{
    letter-spacing: 0.02em;
}
/* #endregion features*/
/* #region team*/
.team{
    background-color: #F4F4FD;
}
.Hteam{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 112px;
}
.list-team{
    display: flex;
    gap: 32px;
}
.list-team-card{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 264px;
    transition: transform 0.3s;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #FFFFFF;

}

.list-team-card img{
    border: 1px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.list-team-i-el{
    padding: 16px;
    text-align: center;
}
.list-team-i-el h3{
  font-size: 18px;
  font-weight: 600
}
.list-team-i-el p{
  margin: 4px 0 0;
  font-size: 14px;
  text-transform: capitalize;
}
/* #endregion team*/

/* #region portfolio */
.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.port-list{
    margin-top: 112px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.port-list-item{
    border: 1px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.port-list-item img{
    border: 1px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.port-list-item-el{
    padding: 16px;
}

/* #endregion portfolio*/

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-button{
    display: flex;
    text-align: center;
}

.container{
    padding-left: 156px;
    padding-right: 156px;
}

Section{
    padding-top: 120px;
    padding-bottom: 120px;
}